jmespath~=1.1.0
uv~=0.5.8
pillow~=11.0.0
h11~=0.16.0
cryptography~=44.0.0
pip~=24.0
attrs~=24.2.0
util~=0.0.1
pyOpenSSL~=24.3.0
Jinja2~=3.1.5
josepy~=1.15.0
acme~=3.0.1
requests~=2.32.3
pytz~=2026.1.post1
pyRFC3339~=2.1.0
cffi~=2.0.0
setuptools~=82.0.1
envs~=1.4
PyYAML~=6.0.2
idna~=3.11
multidict~=6.7.1
propcache~=0.2.1
sniffio~=1.3.1
bleak~=2.1.1
botocore~=1.42.68
boto3~=1.42.68
s3transfer~=0.16.0
httpcore~=1.0.9
certifi~=2026.2.25
PyRIC~=0.1.6.3
pycares~=5.0.1
astral~=2.2
ifaddr~=0.2.0
MarkupSafe~=3.0.3
orjson~=3.10.12
async-timeout~=5.0.1
aiohttp~=3.11.11
yarl~=1.18.3
aiosignal~=1.4.0
frozenlist~=1.8.0
aiodns~=3.2.0
aiohappyeyeballs~=2.6.1
cronsim~=2.6
python-slugify~=8.0.4
python-dateutil~=2.9.0.post0
urllib3~=1.26.20
btsocket~=0.3.0
six~=1.17.0
greenlet~=3.3.2
psutil~=7.2.2
anyio~=4.12.1
charset-normalizer~=3.4.5
mashumaro~=3.20
ciso8601~=2.3.2
PyJWT~=2.10.1
packaging~=26.0
SQLAlchemy~=2.0.36
voluptuous~=0.15.2
bcrypt~=4.2.0
fnvhash~=0.1.0
pycognito~=2024.5.1
snitun~=0.39.1
homeassistant~=2025.1.4
aiozoneinfo~=0.2.1
awesomeversion~=24.6.0
httpx~=0.27.2
aiohttp-cors~=0.7.0
securetar~=2024.11.0
aiohasupervisor~=0.2.2b5
habluetooth~=5.10.2
aiooui~=0.1.9